<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Primera App 22220991</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Hola Mundo</h2>

  <p>
    En mis vacaciones trabajé y salí de viaje con mi novia.
  </p>

  <ion-button expand="block" href="/detalles">
    Comenzar nuestro curso
  </ion-button>

  <ion-button expand="block" href="/registro">
    Ir al registro
  </ion-button>

  <ion-button expand="block" href="/gestion-alumnos">
    Gestión de Alumnos
  </ion-button>

  <ion-button expand="block" href="/gestion-carreras">
    Gestión de Carreras
  </ion-button>

</ion-content>