<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de alumno</ion-title>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-button size="small" href="/home">
      INICIO
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Ingresa tus datos</h2>

  <ion-list>

    <ion-item>
      <ion-input
        label="Nombre completo"
        labelPlacement="floating"
        [(ngModel)]="usuario.nombre">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Número de control"
        labelPlacement="floating"
        [(ngModel)]="usuario.matricula">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Correo"
        labelPlacement="floating"
        type="email"
        [(ngModel)]="usuario.correo">
      </ion-input>
    </ion-item>

  </ion-list>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="guardarDatos()">
    GUARDAR
  </ion-button>



</ion-content>